*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
    padding:20px;
}

header{
    background-color: #0077b6;
    color:white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
header h1{
    margin-bottom: 1opx;
}

nav a{
    color:#fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover{
    color: #ffdd00;
}

main{
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2{
    color:#0077b6;
    margin-bottom:10px;
}

footer{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #023e8a;
    color: #fff;
    border: 10px;
}

form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
}

input,textarea,button{
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button{
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor:pointer;
    font-weight: bold;
}

button:hover{
    background-color: #023e8a;
}

a{
    color:#0077b6;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}